[Unit]
Description=Stocky.Net

[Service]
WorkingDirectory=/var/aspnetcore/Stocky.Net
ExecStart=/usr/bin/dotnet /var/dotnetcore/Stocky.Net/Stocky.Net.dll
Restart=always
RestartSec=10
SyslogIdentifier=stocky.net
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=StockySQLServer=
Environment=StockySQLUserId=
Environment=StockySQLPassword=
Environment=StockySQLDatabase=

Environment=StockySMTPAddress=
Environment=StockySMTPPort=
Environment=StockySMTPName=
Environment=StockySMTPEmail=
Environment=StockySMTPUserId=
Environment=StockySMTPPassword=

Environment=StockyDiscordId=
Environment=StockyDiscordSecret=
Environment=StockyDiscordToken=

[Install]
WantedBy=multi-user.target
